<app-nav-painel></app-nav-painel>

<!DOCTYPE html>
<section>
  <div class="text-center my-4">
    <h3>Adicionar Coleção</h3>
  </div>
  <body>
    <div class="row gx-lg-5 align-items-center mb-5 justify-content-center">
        <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
          <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
          <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
    
          <div class="card bg-glass">
            <div class="card-body px-4 py-5 px-md-5">

              <form (ngSubmit)="atualizarColecao()"> 
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input 
                        type="text" 
                        id="form3Example1" 
                        class="form-control"
                        name="name"
                        [(ngModel)]="newCollection.name"  
                      />
                      <label class="form-label" for="form3Example1">Título</label>
                    </div>
                  </div>
                </div>

                <button type="button" class="btn btn-primary m-3" (click)="navTodosLivros()">
                    Voltar
                </button>
                <button type="submit" class="btn btn-primary m-3">
                  Atualizar
                </button>
                <button type="button" class="btn btn-primary m-3" (click)="deleteColecao()">
                    Deletar
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
  </body>
  
</section>
