

<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand me-2" >
        <img src="https://img.freepik.com/vetores-premium/vetor-de-icone-de-design-de-logotipo-de-livro_9850-5270.jpg" height="50"  loading="lazy" style="margin-top: -1px;">
      </a>

      <button data-mdb-collapse-init="" class="navbar-toggler collapsed" type="button" data-mdb-target="#navbarButtonsExample" aria-controls="navbarButtonsExample" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarButtonsExample">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="">Book Shelf</a>
          </li>
        </ul>

        <div class="nav justify-content-center">

          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
          <button data-mdb-ripple-init="" type="button" class="btn btn-primary me-3" (click)="navegarAbout()">Sobre
            <i class="fas fa-info-circle"></i>
          </button>
    
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
          <button data-mdb-ripple-init="" type="button" class="btn btn-primary me-3" (click)="navegarSupport()">Suporte
            <i class="fas fa-headset"></i>
          </button>
        </div>

        <div class="d-flex align-items-center">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
          <button data-mdb-ripple-init="" type="button" class="btn btn-primary me-3" (click)="navigateToLogin()">Login
            <i class="fas fa-door-open"></i>
          </button>
            
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
          <button data-mdb-ripple-init="" type="button" class="btn btn-primary me-3" (click)="navegarSignup()">Signup
            <i class="fas fa-user-plus"></i>
          </button>
        </div>
      </div>
    </div>
  </nav>