.painel-container{
    margin: 20px;
    padding: 20px;
  }
  
  .nav-painel{
    margin: 8px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .bem-vindo{
    margin: 8px;
    padding: 10px;
  }
  
  .title{
    margin: 0;
  }
  
  .button-painel{
    margin: 8px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: rgb(30, 75, 189);
  }
  
  .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #144d74;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #1dc0d7;
  }
  
  .btn-primary {
    margin: 0 10px;
  }