<app-navbar></app-navbar>

<div class="d-flex justify-content-around ">
    <div class="card" style="width: 18rem;">
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp" class="card-img-top center" alt="Sunset Over the Sea"/>
        <div class="card-body">
          <p class="card-text">Ana Lúcia Souza RA: 223530</p>
        </div>
      </div>
    
      <div class="card" style="width: 18rem;">
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp" class="card-img-top" alt="Sunset Over the Sea"/>
        <div class="card-body">
          <p class="card-text">Cainã Jose de Arruda Pinto RA:210626</p>
        </div>
      </div>
    
      <div class="card" style="width: 18rem;">
      <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp" class="card-img-top" alt="Sunset Over the Sea"/>
      <div class="card-body">
        <p class="card-text">Isabelle Munhoz Scarso RA:223285</p>
      </div>
    </div>
</div>
