<app-navbar></app-navbar>

<div class="d-flex justify-content-around ">
    <div class="card" style="width: 18rem;">
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp" class="card-img-top center" alt="Sunset Over the Sea"/>
        <div class="card-body">
          <p class="card-text">Ana Lúcia Souza RA: 223530</p>

          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"> 
          <a
            data-mdb-ripple-init 
            class="btn text-white btn-floating m-1"
            style="background-color: #0082ca;"
            href="https://www.linkedin.com/in/ana-l%C3%BAcia-souza-aa3131135/"  
            target="_blank"
            role="button"
          ><i class="fab fa-linkedin"></i> 
          </a>
          <a
          data-mdb-ripple-init
          class="btn text-white btn-floating m-1"
          style="background-color: #04014eef;"
          href="https://github.com/lucyexz"
          target="_blank"
          role="button"
          ><i class="fab fa-github"></i
          ></a>
          <a
          data-mdb-ripple-init
          class="btn text-white btn-floating m-1"
          style="background-color: #0b046ee3;"
          href="https://www.instagram.com/lucyexz?igsh=OGVvNXJ0OHZjMTds"
          target="_blank"
          role="button"
          ><i class="fab fa-instagram"></i
        ></a>

        </div>
      </div>
    
      <div class="card" style="width: 18rem;">
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp" class="card-img-top" alt="Sunset Over the Sea"/>
        <div class="card-body">
          <p class="card-text">Cainã Jose de Arruda Pinto RA:210626</p>

          
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"> 

          <a
            data-mdb-ripple-init 
            class="btn text-white btn-floating m-1"
            style="background-color: #0082ca;"
            href="https://www.linkedin.com/in/cain%C3%A3-jos%C3%A9-468757249/"
            target="_blank" 
            role="button"
          ><i class="fab fa-linkedin"></i> 
          </a>
          <a
          data-mdb-ripple-init
          class="btn text-white btn-floating m-1"
          style="background-color: #04014eef;"
          href="https://github.com/CainanJose?tab=repositories"
          target="_blank"
          role="button"
          ><i class="fab fa-github"></i
          ></a>
          <a
          data-mdb-ripple-init
          class="btn text-white btn-floating m-1"
          style="background-color: #0b046ee3;"
          href="https://www.instagram.com/cainan_jose?igsh=MXA0emUzbmsybGZoaA=="
          target="_blank"
          role="button"
          ><i class="fab fa-instagram"></i
        ></a>

        </div>
      </div>
    
      <div class="card" style="width: 18rem;">
      <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp" class="card-img-top" alt="Sunset Over the Sea"/>
      <div class="card-body">
        <p class="card-text">Isabelle Munhoz Scarso RA:223285</p>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"> 

          <a
            data-mdb-ripple-init 
            class="btn text-white btn-floating m-1"
            style="background-color: #0082ca;"
            href="https://www.linkedin.com/in/isabellescarso/"  
            target="_blank"
            role="button"
          ><i class="fab fa-linkedin"></i> 
          </a>
          <a
          data-mdb-ripple-init
          class="btn text-white btn-floating m-1"
          style="background-color: #04014eef;"
          href="https://github.com/isabellescarso"
          target="_blank"
          role="button"
          ><i class="fab fa-github"></i
          ></a>
          <a
          data-mdb-ripple-init
          class="btn text-white btn-floating m-1"
          style="background-color: #0b046ee3;"
          href="https://www.instagram.com/isabellescarso?igsh=d3RqcmhyOXh1OXB4"
          target="_blank"
          role="button"
          ><i class="fab fa-instagram"></i
        ></a>

      </div>
    </div>
</div>

<footer class="bg-body-tertiary text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Footer text</h5>

        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
          molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
          voluptatem veniam, est atque cumque eum delectus sint!
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Footer text</h5>

        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
          molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
          voluptatem veniam, est atque cumque eum delectus sint!
        </p>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
</footer>

<footer class="bg-primary text-white text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Footer Content</h5>

        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
          molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
          voluptatem veniam, est atque cumque eum delectus sint!
        </p>
      </div>
  </div>

