body {
    background-image: url("../../../assets/homenew1.png");
    background-size: cover; /* Cobre toda a tela, pode cortar a imagem */
    background-repeat: no-repeat; /* Não repete a imagem */
    background-position: center center; /* Centraliza a imagem */
    background-attachment: fixed;
    background-color: #cccccc; /* Cor de fundo como fallback */
    min-height: 89.7vh; /* Garante altura mínima de 100% da viewport */
    font-family:  'Times New Roman', Times, serif; 
}

h3{
    font-family:  'Times New Roman', Times, serif; 
    font-size: 2em; /* Tamanho maior do texto */
    color: #ffffff; /* Cor do texto */
    letter-spacing: 4px; /* Espaçamento entre letras */
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.4);
    margin-bottom: auto;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #144d74;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #1dc0d7;
  }
  
  .btn-primary {
    margin: 0 10px;
  }