<app-nav-painel></app-nav-painel>
<!DOCTYPE html>
<section >
    <div class="text-center my-4">
            <h3>Editar livro</h3>
    </div>
      <div class="row gx-lg-5 align-items-center mb-5 justify-content-center ">
        <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
          <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
          <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
  
          <div class="card bg-glass">
            <div class="card-body px-4 py-5 px-md-5">
              
              <form (ngSubmit)="atualizarUser()">

                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div data-mdb-input-init class="form-outline">
                      <input type="text" id="form3Example1" class="form-control" name="name" [(ngModel)]="atuUser.name"/>
                      <label class="form-label" for="form3Example1">Nome</label>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div data-mdb-input-init class="form-outline">
                      <input type="text" id="form3Example2" class="form-control" name="lastname" [(ngModel)]="atuUser.lastname" />
                      <label class="form-label" for="form3Example2">Sobrenome</label>
                    </div>
                  </div>
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                  <input type="email" id="form3Example2" class="form-control"name="email" [(ngModel)]="atuUser.email" />
                  <label class="form-label" for="form3Example4">Email</label>
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                  <input type="password" id="form3Example2" class="form-control"name="password" [(ngModel)]="atuUser.password" />
                  <label class="form-label" for="form3Example4">Senha</label>
                </div>
            
                <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block m-4"  >
                    Salvar
                </button>
                <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block m-4" style="background-color: #02135c;" (click)="navPainel()" >
                    Voltar
                </button>

                <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block m-4" style="background-color: #02135c;" (click)="deleteUser()" >
                  deletar
               </button>
              
   
              </form>
            </div>
          </div>
        </div>
      </div>
  </section>
  <!-- Section: Design Block -->
  