
  <ul class="nav justify-content-center my-3">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
      <button data-mdb-ripple-init="" type="button" class="btn btn-primary me-3" (click)="navPainel()">Painel
        <i class="fas fa-desktop"></i>
      </button>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
      <button data-mdb-ripple-init="" type="button" class="btn btn-primary me-3" (click)="navSobre()">Sobre
        <i class="fas fa-info-circle"></i>
      </button>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
      <button data-mdb-ripple-init="" type="button" class="btn btn-primary me-3" (click)="navSuportePainel()">Suporte
        <i class="fas fa-headset"></i>
      </button>

      
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
      <button data-mdb-ripple-init="" type="button" class="btn btn-primary me-3" (click)="navegarEditar()">Editar
          <i class="fas fa-pencil-alt"></i>
      </button>

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
      <button data-mdb-ripple-init="" type="button" class="btn btn-primary me-3" (click)="navegarCadastrarLivro()">Adicionar Livro
          <i class="fas fa-plus-circle"></i>
      </button>

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
      <button data-mdb-ripple-init="" type="button" class="btn btn-primary me-3" style="background-color: #02135c;" (click)="navegarHome()">Logout
          <i class="fas fa-power-off"></i>
      </button>
  </ul>