<app-nav-painel></app-nav-painel>

<!DOCTYPE html>
<html>
  <body>
    <div class="container mt-0">
      <br>
      <div class="text-center my-3">
        <h3>Entre em contato com alguém de nossa equipe!</h3>
      </div>
      
      
      <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
          <tr>
            <th>Nome</th>
            <th>Titulo</th>
            <th>Telefone</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <img
                    src="https://media.licdn.com/dms/image/D4D03AQG8kh6rpZ1xSg/profile-displayphoto-shrink_200_200/0/1711062086815?e=1723680000&v=beta&t=bZcMge4ul3HLsyb_0D0OkLHmEBbyI2k0VTDlVxsZ4lM"
                    alt=""
                    style="width: 45px; height: 45px"
                    class="rounded-circle"
                    />
                <div class="ms-3">
                  <p class="fw-bold mb-1">Ana Lúcia Souza </p>
                  <p class="text-muted mb-0">223530#facens.br</p>
                </div>
              </div>
            </td>
            <td>
              <p class="fw-normal mb-1">Desenvolvedor</p>
              <p class="text-muted mb-0">Suporte</p>
            </td>
            <td>(15) 99692-5471</td>
      
          </tr>
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <img
                    src="https://media.licdn.com/dms/image/D4E03AQE21yEzihkLJg/profile-displayphoto-shrink_200_200/0/1717769529071?e=1723680000&v=beta&t=sJ2SubiO8P04KlF1UcV_LOf7dnQKY8nschMtR3CWTzA"
                    class="rounded-circle"
                    alt=""
                    style="width: 45px; height: 45px"
                    />
                <div class="ms-3">
                  <p class="fw-bold mb-1"> Cainã Jose Arruda Pinto</p>
                  <p class="text-muted mb-0">210626#facens.br</p>
                </div>
              </div>
            </td>
            <td>
              <p class="fw-normal mb-1">Pesquisas</p>
              <p class="text-muted mb-0">Suporte</p>
            </td>
      
            <td>(15) 99614-6688</td>
          </tr>
      
          
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <img
                    src="https://media.licdn.com/dms/image/D4D03AQHFwCC_0p5whg/profile-displayphoto-shrink_200_200/0/1711594751392?e=1723680000&v=beta&t=PlViu8gS9cFn4Krvq1IxL9K1lOrob-lAOha71BO29p0"
                    class="rounded-circle"
                    alt=""
                    style="width: 45px; height: 45px"
                    />
                <div class="ms-3">
                  <p class="fw-bold mb-1">Isabelle Munhoz Scarso</p>
                  <p class="text-muted mb-0">223285#facens.br</p>
                </div>
              </div>
            </td>
            <td>
              <p class="fw-normal mb-1">Analista de Dados</p>
              <p class="text-muted mb-0">Suporte</p>
            </td>
            <td>(15) 99617-5839</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>


