<app-nav-painel></app-nav-painel>

<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="sobre-painel.component.css">
</head>
<body>
  <br>
  <div class="text-center">
    <h3>Equipe de Desenvolvimento</h3>
  </div>
  <br>
  <div class="container mt-0">
    <div class="d-flex justify-content-around m-3">
      <div class="card" style="width: 15rem;">
        <img src="https://media.licdn.com/dms/image/D4D03AQG8kh6rpZ1xSg/profile-displayphoto-shrink_200_200/0/1711062086815?e=1723680000&v=beta&t=bZcMge4ul3HLsyb_0D0OkLHmEBbyI2k0VTDlVxsZ4lM" class="card-img-top center" alt="Ana Lúcia Souza"/>
        <div class="card-body">
          <p class="card-text">Ana Lúcia Souza RA: 223530</p>

          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"> 
          <a data-mdb-ripple-init class="btn text-white btn-floating m-1" style="background-color: #0082ca;" href="https://www.linkedin.com/in/ana-l%C3%BAcia-souza-aa3131135/" target="_blank" role="button"><i class="fab fa-linkedin"></i></a>
          <a data-mdb-ripple-init class="btn text-white btn-floating m-1" style="background-color: #04014eef;" href="https://github.com/lucyexz" target="_blank" role="button"><i class="fab fa-github"></i></a>
          <a data-mdb-ripple-init class="btn text-white btn-floating m-1" style="background-color: #0b046ee3;" href="https://www.instagram.com/lucyexz?igsh=OGVvNXJ0OHZjMTds" target="_blank" role="button"><i class="fab fa-instagram"></i></a>
        </div>
      </div>

      <div class="card" style="width: 15rem;">
        <img src="https://media.licdn.com/dms/image/D4E03AQE21yEzihkLJg/profile-displayphoto-shrink_200_200/0/1717769529071?e=1723680000&v=beta&t=sJ2SubiO8P04KlF1UcV_LOf7dnQKY8nschMtR3CWTzA" class="card-img-top" alt="Cainã Jose de Arruda Pinto"/>
        <div class="card-body">
          <p class="card-text">Cainã Jose de Arruda Pinto RA:210626</p>

          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"> 
          <a data-mdb-ripple-init class="btn text-white btn-floating m-1" style="background-color: #0082ca;" href="https://www.linkedin.com/in/cain%C3%A3-jos%C3%A9-468757249/" target="_blank" role="button"><i class="fab fa-linkedin"></i></a>
          <a data-mdb-ripple-init class="btn text-white btn-floating m-1" style="background-color: #04014eef;" href="https://github.com/CainanJose?tab=repositories" target="_blank" role="button"><i class="fab fa-github"></i></a>
          <a data-mdb-ripple-init class="btn text-white btn-floating m-1" style="background-color: #0b046ee3;" href="https://www.instagram.com/cainan_jose?igsh=MXA0emUzbmsybGZoaA==" target="_blank" role="button"><i class="fab fa-instagram"></i></a>
        </div>
      </div>

      <div class="card" style="width: 15rem;">
        <img src="https://media.licdn.com/dms/image/D4D03AQHFwCC_0p5whg/profile-displayphoto-shrink_200_200/0/1711594751392?e=1723680000&v=beta&t=PlViu8gS9cFn4Krvq1IxL9K1lOrob-lAOha71BO29p0" class="card-img-top" alt="Isabelle Munhoz Scarso"/>
        <div class="card-body">
          <p class="card-text">Isabelle Munhoz Scarso RA:223285</p>
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"> 
          <a data-mdb-ripple-init class="btn text-white btn-floating m-1" style="background-color: #0082ca;" href="https://www.linkedin.com/in/isabellescarso/" target="_blank" role="button"><i class="fab fa-linkedin"></i></a>
          <a data-mdb-ripple-init class="btn text-white btn-floating m-1" style="background-color: #04014eef;" href="https://github.com/isabellescarso" target="_blank" role="button"><i class="fab fa-github"></i></a>
          <a data-mdb-ripple-init class="btn text-white btn-floating m-1" style="background-color: #0b046ee3;" href="https://www.instagram.com/isabellescarso?igsh=d3RqcmhyOXh1OXB4" target="_blank" role="button"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>

    <footer class="bg-body-tertiary text-center text-lg-start">
      <div class="container p-4">
        <div class="row">
          <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase">Sobre a pagina:</h5>
            <p>
              Nossa Estante Virtual é a solução perfeita para organizar seus livros de forma eficiente e prática. Com uma interface intuitiva, você pode catalogar, classificar e acessar sua coleção de livros digitais e físicos com facilidade!
            </p>
          </div>

          <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase">Sobre a equipe:</h5>
            <p>
              Nossa equipe é composta por estudantes do 5º semestre do curso de Desenvolvimento Web (turma CP500TIN3) da instituição de ensino FACENS.
            </p>
          </div>
        </div>
      </div>
    </footer>
  </div>

  <footer class="text-white text-center text-lg-start">
    <div class="container p-4">
      <div class="row">
        <div class="text-center">
          <h5 class="text-uppercase">NOSSO PROPÓSITO</h5>
          <p>
            O projeto da Estante Virtual foi criado com o objetivo de proporcionar uma maneira fácil e eficiente de organizar e acessar suas coleções de livros, sejam eles digitais ou físicos. Nossa missão é facilitar a gestão de suas leituras, permitindo que você dedique mais tempo ao que realmente importa: ler e aprender.
          </p>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
