<app-nav-painel></app-nav-painel>

  <!DOCTYPE html>
  <html>
    <body>
      <div class="container mt-0">
        <div class="list-group list-group-light text-center">
          <br><br>
          <h3>Acesse o seu gênero favorito!</h3>
          <br>
          <a href="todos-livros" class="my-2 btn btn-primary" style="background-color: #0323b3;" type="button" >Romance</a>
          <a href="todos-livros" class="my-2 btn btn-primary" style="background-color: #0323b3;" type="button">Comédia</a>
          <a href="todos-livros" class="my-2 btn btn-primary" style="background-color: #0323b3;" type="button">Terror</a>
          <a href="todos-livros" class="my-2 btn btn-primary" style="background-color: #0323b3;" type="button">Época</a>
          <a href="todos-livros" class="my-2 btn btn-primary" style="background-color: #0323b3;" type="button">Outros</a>
          <br><br>
        </div>
      </div>
    </body>
  </html>