body {
    background-image: url("../../../assets/homenew1.png");
    background-size: cover; /* Cobre toda a tela, pode cortar a imagem */
    background-repeat: no-repeat; /* Não repete a imagem */
    background-position: center center; /* Centraliza a imagem */
    background-color: #064974; /* Cor de fundo como fallback */
    min-height: 89.7vh; /* Garante altura mínima de 100% da viewport */
    font-family:  'Times New Roman', Times, serif; 
    font-weight: bold;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #064974;
    border-radius: 40%;
  }

  h3{
    font-family:  'Times New Roman', Times, serif; 
    font-size: 1.5em; /* Tamanho maior do texto */
    color: #000000; /* Cor do texto */
    letter-spacing: 4px; /* Espaçamento entre letras */
    text-shadow: 2px 2px 4px rgba(173, 173, 173, 0.4);
    background-color: #ffffff;
    margin-bottom: auto;
  }


  .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #144d74;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #1dc0d7;
  }
  

  

  