body {
    background-image: url("../../../assets/cb3cf51c8b13442524f773a6070f09c7.jpg");
    background-size: cover; /* Cobre toda a tela, pode cortar a imagem */
    background-repeat: no-repeat; /* Não repete a imagem */
    background-position: center center; /* Centraliza a imagem */
    background-attachment: fixed;
    background-color: #cccccc; /* Cor de fundo como fallback */
    min-height: 80vh; /* Garante altura mínima de 100% da viewport */
    
}
