<app-nav-painel></app-nav-painel>




  <!DOCTYPE html>
  <html>
    <body>
      <div class="container mt-0">
        <div class="list-group list-group-light text-center">
          <h3>Suas Coleções</h3>
          <a href="todos-livros" class="my-2 btn btn-primary" style="background-color: #0323b3;" type="button" >Coleção 1</a>
          <a href="todos-livros" class="my-2 btn btn-primary" style="background-color: #0323b3;" type="button">Coleção 2</a>
          <a href="todos-livros" class="my-2 btn btn-primary" style="background-color: #0323b3;" type="button">Coleção 3</a>
          <a href="todos-livros" class="my-2 btn btn-primary" style="background-color: #0323b3;" type="button">Coleção 4</a>
          <a href="todos-livros" class="my-2 btn btn-primary" style="background-color: #0323b3;" type="button">Coleção 5</a>
        </div>
      </div>
    </body>
  </html>