<app-nav-painel></app-nav-painel>

<!DOCTYPE html>
<section>
  <body>
    <div class="text-center my-2">
      <h3>Adicionar Coleção</h3>
    </div>
    <div class="row gx-lg-0 align-items-center mb-5 justify-content-center">
      <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
        <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
        <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
  <br>
        <div class="card bg-glass">
          <div class="card-body px-4 py-5 px-md-5">
            <label class="form-label" for="form3Example1">Título</label>
            <form (ngSubmit)="criarColecao()"> 
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input 
                      type="text" 
                      id="form3Example1" 
                      class="form-control"
                      name="name"
                      [(ngModel)]="newCollection.name" 
                      required 
                    />

                  </div>
                </div>
              </div>
  
              <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block m-4">
                Criar Coleção
              </button>
              <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block m-4" (click)="navPainel()">
                Voltar
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
  
</section>
